table {
  width: 100%;

  .mat-column-videoLink {
    text-overflow: ellipsis;
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
  }
}

.download-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

h2 {
  margin-top: 15px;
}

button {
  margin-bottom: 15px;
  margin-right: 15px;
}

.filter-row {
  width: 100%;

  .mat-form-field {
    font-size: 14px;
    margin-right: 15px;

    .additional-selection {
      opacity: 0.75;
      font-size: 0.75em;
    }
  }
}

mat-icon {
  height: 16px;
  width: 16px;
  font-size: 16px;
}

.moderator-fields {
  display: flex;
  flex-direction: row;

  .mat-form-field:first-child {
    margin-right: 10px;
    width: 250px;
  }
}

.game-input {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  height: 60px;

  > * {
    margin-right: 10px;
  }

  > .mat-form-field {
    width: 200px;
  }
}

.query-hint {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;

  > span {
    margin-right: 10px;
  }
}
