table {
  width: 100%;

  .mat-column-videoLink {
    text-overflow: ellipsis;
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
  }
}

table.simple-table, .simple-table th, .simple-table td {
  border: 1px solid black;
  border-collapse: collapse;
}

h2 {
  margin-top: 15px;
}

button {
  margin-bottom: 15px;
  margin-right: 15px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

mat-icon {
  height: 16px;
  width: 16px;
  font-size: 16px;
}

.moderator-fields {
  display: flex;
  flex-direction: row;

  .mat-form-field:first-child {
    margin-right: 10px;
    width: 250px;
  }
}

.game-input {
  display: flex;
  flex-direction: row;
  align-items: baseline;

  > p {
    margin-right: 10px;
  }

  > .mat-form-field {
    width: 200px;
  }
}
