table {
  width: 100%;

  .mat-column-videoLink {
    text-overflow: ellipsis;
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
  }
}

h2 {
  margin-top: 15px;
}

button {
  margin-bottom: 15px;
  margin-right: 15px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}


/*
td, th {
  width: 25%;
}
*/
